{{!-- <div class="card-home">
    <h2>{{name}}</h2>
    <div class="cta-container"><a href="/rent/{{_id}}/details" class="details-link">Details</a></div>
    <div class="card_image"><img src="{{homeImage}}"></div>

</div> --}}

<div class="card">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <div class="cta-container"><a href="{{_id}}/details" class="det-link">Details</a></div>
    <div class="card_circle"><img src="{{homeImage}}"></div>

</div>